---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

const posts = await getCollection('blog');
---
<Layout title="Mau Kode Blog">
  <h1 class="text-3xl font-bold mb-6">Blog</h1>
  <ul>
    {posts.map(post => (
      <li class="mb-4">
        <a href={`/blog/${post.slug}/`} class="text-xl text-blue-600 hover:underline">{post.data.title}</a>
        <p class="text-zinc-600">{post.data.description}</p>
      </li>
    ))}
  </ul>
</Layout>