@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  /* Generated accent color palettes. */
  --color-accent-200: #d6c6b2;
  --color-accent-600: #8e6121;
  --color-accent-900: #422e14;
  --color-accent-950: #2e2112;
  /* Generated gray color palettes. */
  --color-gray-100: #f6f6f6;
  --color-gray-200: #edeeed;
  --color-gray-300: #c2c2c2;
  --color-gray-400: #8b8b8b;
  --color-gray-500: #585858;
  --color-gray-700: #383838;
  --color-gray-800: #272727;
  --color-gray-900: #181818;
}